<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/cadastro.css">
    <title>Document</title>
</head>
<body>
   <div class="containner">
    <div class="painel-cadastro">
        <div class="top-cadastro"> 
            <img src="../public/images/I-SPACE.jpg" width="60px" alt="">
            <div class="seguro">
                <p>100% seguro</p>
                <a href=""><iconify-icon icon="material-symbols:lock" width="20"></iconify-icon></a>
            </div>
        </div>
        <div class="text-login">
            div.
        </div>
        <div class="text-email">E-mail*</div>
        <div class="input-email">
            <input type="email" name="email" id="email-input">
        </div>
        <div class="senha">Senha</div>
        <div class="input-password">
            <input type="password" name="senha" id="pass">
        </div>
        <div class="link">
            <a href="">Não sei minha senha</a>
        </div>
        <div class="button-login">
            <input type="button" value="">
        </div>
    </div>
   </div>
</body>
</html>