<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../public/stylesheets/cadastro.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="painel-principal">
        <div class="top-header">
            <div class="logo">
                <img src="../public/images/I-SPACE.jpg" alt="" width="120px">
            </div>
            <div class="search">
               <input type="text">
            </div>
            <div class="user-header">
              <div class="icon-header"><a href=""><iconify-icon icon="mdi:account-circle"  width="180" height="50"></iconify-icon></a>  
              </div>  
              <div class="link-header">
              <a href="">Bem vindo!
                    Entre ou cadastre-se</a>
               </div>
               <div class="bag-header"><a href="">
                <iconify-icon icon="ic:round-shopping-bag"  width="40"></iconify-icon></a>
               </div>
            </div>
            
        </div>
        <div class="menu">
            <div class="painel-menu">

                  <div class="menu-itens"> <a href="">Watch</a></div>
                  <div class="menu-itens"> <a href=""> Iphone</a></div>
                  <div class="menu-itens"> <a href=""> Ipad</a></div>
                  <div class="menu-itens"> <a href=""> Mac</a></div>
                  <div class="menu-itens"> <a href=""> Airpods</a></div>
                  <div class="menu-itens"> <a href=""> Acessórios</a></div>
                  <div class="menu-itens"> <a href=""> Ofertas</a></div>
                  <div class="menu-itens"> <a href=""> Serviços</a></div>
                  <div class="menu-itens"> <a href=""> Suporte</a></div>
            </div>
            </div>
        </div>
    </header>
    <main>
        <div class="containner">
          <div class="header-cadastro">
            <div class="logo-cadastro">
              <img src="../public/images/LOGO.jpg" alt="" width="120px">
            </div>
            <div class="right-header-cadastro">
              <p>100% seguro</p>
              <a href=""><iconify-icon icon="material-symbols:lock" width="30px" style="color:#fff ;"></iconify-icon></a>
            </div>
          </div>
          <div class="texto-cadastro">
            <div class="titulo">
              <h1>Criar uma conta</h1>
            </div>
            <div class="link-fazerLogin">
              <a href="">Fazer login</a>
            </div>
          </div>
          <div class="label">E-mail*</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Senha</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Confirmar senha</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">CPF*</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Nome*</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Sobrenome*</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Data de Nascimento</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="label">Celular</div>
          <div class="input-cadastro">
            <input type="text">
          </div>
          <div class="termo">
            <input type="checkbox">
            <div class="text-termo"> Li e concordo com os termos de privacidade</div>
          </div>
        </div>
    </main>





    
    <footer>
        <div class="painel">

            <div class="cardx">
              <img class="logo2" src="../public/images/I-SPACE.jpg" alt="logo" width="120px">
              <div class="iconredes">
                <p class=" textsomos"> Somos a <strong> I-SPACE </strong>  e trazemos para vocês os principais lançamentos com ampla
                  disponibilidade
                  e garantia de autenticidade.</p>
              </div>
              <div class="redes">
                <a href=""><iconify-icon icon="ant-design:facebook-filled"  width="20"></iconify-icon></a>
                
                <a href=""><iconify-icon icon="ant-design:instagram-outlined"  width="20"></iconify-icon></a>
                
              </div>
            </div>
        
            <div class="cardx">
              <h3>INSTITUCIONAL</h3>
              <ul class="lista" style="list-style: none;">
                <li> <a href="">Quem Somos</a></li>
                <li> <a href="">Nossas Lojas</a></li>
                <li> <a href="">Política de Privacidade</a></li>
                <li><a href="">Política de reembolso</a></li>
                <li><a href="">Termos de serviço</a></li>
                <li><a href=""> Politica de Envio</a></li>
              </ul>
            </div>
        
         <div class="card2">
              <h3>CONTATO</h3>
              <ul class="listaContato" style="list-style: none;">
                <li> <div class="wpp">Whatsapp
                  </div><div class="number">+55 11 95454 5560</div></li>
                <li><div class="email">E-mail:</div>
                  <div class="enderecoemail">copclub.br@gmail.com</div></li>
                <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
                  </li>
                  <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
                  </li>
              </ul>
            </div>
        
            <div class="cardx">
              <h3> FIQUE POR DENTRO </h3>
              
              <h5>Receba as novas promoções e produtos.</h5>
              
              <button class="button-footer"> Se inscrva </button>
            </div>
          </div>
          
    </footer>


    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
</body>
</html>