<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/detalhes.css">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <div class="containner-one">


        </div>
        <div class="containner-two">

        </div>

















    </main>
    <footer></footer>
</body>
</html>