.painel-cadastro{
    width: 40%;
    height: 400px;
    background-color: aqua;
    border: 2px solid black;
}

.top-cadastro{
    width: 100%;
    height: 60px;
    background-color: #000;

}

.text-login{

}