
main { /* campo universal do carrinho*/
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 500px;
}

.caixaMaior{ /* espaço que vai conter os itens adicionados ao carrinho*/
   
    background-color: rgb(211, 211, 211);
    width: 80%;
    height: 100%;
    border-radius: 1%;
    padding: 1%;
    display: flex;
   
    
    align-items: stretch;
   

}


.itemDestaque{
   
    background-color: rgb(98, 96, 96);
    flex-grow: 1;
}

.caixaLista{
   background-color: rgb(120, 120, 123);
   flex-grow: 1;
}


.item1{

}

.intem2{

}

.item3{

}