
main { /* campo universal do carrinho*/
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 500px;
}

.caixaMaior{ /* espaço que vai conter os itens adicionados ao carrinho*/
   
    background-color: rgb(211, 211, 211);
    width: 80%;
    height: 100%;
    border-radius: 1%;
    display: flex;
   
    
    align-items: stretch;
   

}


.itemDestaque{  
   display: flex;
    background-color: rgb(162, 161, 161);
    margin: 0.2%;
    flex-grow: 2;
    flex-direction: column;
  
}

.cabecaCarrinho{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.2%;
    flex-grow: 1;

}

.itemvisualizado{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.2%;
    flex-grow: 6;

}

.prazoEntrega{
    display:flex ;
    background-color: rgb(255, 255, 255);
    margin: 0.2%;
    flex-grow: 1;
    

}

.cupons{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.2%;
    flex-grow: 1;

}

.caixaLista{
    display: flex;
    background-color: rgb(162, 161, 161);
    margin: 0.2%;
    flex-grow: 1;
    flex-direction: column;
}


.item1{ 
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.6%;
    flex-grow: 2;
}
    



.item2{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.6%;
    flex-grow: 11;
}


.item3{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: 0.6%;
    flex-grow: 2;
}

button:hover{
    background-color: rgb(108, 108, 248);
}

.colunaProduto td{

}

.prodIdent{
    display: flex;
    align-items: center;
}

.prodImage{
    margin-left: 6px;
    width: 120px;
    height: 70px;
}
.prodTitulo{
    margin-left: 6px;
    font-size: 18px;
}
.prodValor{
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.prodQtd{
    margin-left: 6px;
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #56c5db;
    text-align: center;
    background-color: #eee;
}

.prodRemove{
    margin-left: 6px;
    background-color: #ff0000;
    color: var(--white);
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
    transition: 0.2s;
}
.prodRemove:hover {
    filter: brightness(0.8);
}