
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Clicker+Script&family=Kanit:wght@100&family=Poppins:wght@200;300;500;600;700&display=swap');



footer {
background-color: black;
display: flex;
width: 100%;

margin: 0 auto;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
flex-direction: row;


}
ul {
padding-inline-start: 0;

}

.painel {
display: flex;
gap: 5%;
justify-content: center;
width: 100%;
padding: 30px 10px;

}
.painel p strong{
color: #46CAF2;
}
.cardx {

color: white;
width: 200px;
padding: 5px;
justify-content: center;
align-items: center;

}

.cardx h3{
margin-bottom: 20px;
color: #46CAF2;
}

.button-footer {
font-size: 20px;
margin-top: 20px;
margin-left: 1px;
width: 100%;
height: 40px;
border-radius: 20px;
border-color: rgba(0, 110, 255, 0.623);
color: #fff;
box-shadow: 0 0 40px 40px  rgba(0, 110, 255, 0.623) inset, 0 0 0 0 rgb(54, 117, 233);
transition: all 150ms ease-in-out;

}

.button-footer :hover{
  box-shadow: 0 0 50px 0  rgba(0, 110, 255, 0.623) inset, 0 0 10px 4px rgb(54, 117, 233);

}


/* width: 100%;
height: 40px;
border-radius: 30px;
font-size: 20px;
margin-top: 20px;
background-color: #46CAF2;
color: #FFF;
*/




.card2 h3{
margin-bottom: 20px;
color: #46CAF2;
}
/* .cardx h3, .cardx h5 {




} */

.logo2 {
margin-top: 1px;
}


.textosomos {
width: 80px;
font-size: 2px;
text-align: justify;
margin-top: 1px;
}

.redes {
display: flex;
justify-content: space-between;
width: 60px;
}

.redes a {
width: 20px;
height: 20px;
color: #ffffff;
transition: all 0.2s;
}

.redes a:hover{
color: #46CAF2;

}

.lista {
flex-direction: row;

}

.lista li{
margin-bottom: 10px;
}

.lista a{
color: #ffffff;
margin-bottom: 8px;
text-decoration: none;

}

.lista li :hover {
text-decoration: none;
cursor: pointer;
transition: 0.2s;
color: #46CAF2;
}


.card2 {
color: #ffffff;
width: 320px;
height: 200px;
padding: 10px;
margin-bottom: 40px;
justify-content: center;
align-items: center;
}
.listaContato li {
display: flex;
justify-content: space-between;
border-bottom: 1px solid #ffffff;
line-height: 25px;
margin-bottom: 5px;
padding-bottom: 5px;
}





ul {
text-align: left;
justify-content: flex-start;
line-height: 20px;
}


.trio {
display: flex;
align-items: center;
justify-content: space-around;
width: 80%;
height: 500px;
margin: 0 auto;

}

.cartao {
text-align: center;
align-items: center;
justify-content: center;
height: 220px;
width: 320px;
border: solid 1px rgba(180, 8 , 94,0.3);
font-size: 30px;
}



.cardsmarcas {
width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
margin-bottom: 20px;
overflow: hidden;
-webkit-transition: -webkit-transform .5s ease;
transition: transform .5s ease;
}

hr{
border: solid 1px  rgba(180, 8 , 94,0.3);
width: 30%;
}



@media only screen and (max-width: 600px) {
footer{
width: 100%;
margin-left: 1px;
}
p{
font-size: 10px;
}
.regist{
display: none;
}
.painel{
display: flex;
flex-direction: column;
}
}
