header{
    width: 100%;
    
    
}
.painel-principal{
    background-color: #000
}
.top-header{
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 20px;
}

.search input {
    width: 80%;
    height: 80%;
    font-size: 16px;
    color: #FFF;
    background-color: #000;
    border: 0 none;
    outline: 0;
}

.user-header{

    display: flex;
    align-items: center;
    height: 60px;
    width: 180px;

}

.user-header a {
    text-decoration: none;
    color: #fff;
}

.icon-header {
    color: #FFF;
   margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    transition: all 0.2s;
}

.icon-header a:hover{
    color: #46CAF2;
}

.link-header {
    width: 50%;
    height: 60px;
    font-size: 14px;
   padding-top: 10px;
   margin-left: 10px;
    color: #FFF;
    transition: all 0.2s;
}
.link-header a:hover{
    color: #46CAF2;
}
.menu   {
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.menu  a {
    text-decoration: none;
    color: #fff;
}


.painel-menu{
    background-color: #000;
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 30px;
}

.menu-itens{
    font-size: 20px;
    width: 20%;
    text-align: center;
    padding: 0.5%;
}



.search {
    width: 50%;
    height: 30px;
    padding: 12px 24px;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url('https://api.iconify.design/ic/baseline-search.svg?color=white&width=180&height=60');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
 .search::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    .search:hover,
    .search:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }

    /*Trabalhando com o icone do carrinho */
    .bag-header a {
        color: #ffffff;
        transition: all 0.2s;
    }
    .bag-header a:hover{
        color: #46CAF2;
    }

    .menu-itens a {
        color: #ffffff;
        transition: all 0.2s;
    }
    .menu-itens a:hover{
        color: #46CAF2;
     
    }
   /* MAIN */

   main{
    width: 35%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
   }

   .containner-login{
    height: 80%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(202, 202, 202);
   }


   .header-login{
    background-color: #000000;
    border-radius: 10px 10px 0px 0px;
        height: 90px;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
   }

   

   .right-header-login{
    color: rgb(255, 255, 255);
        width: 140px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
   }

   .text-login{
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
   }

   .text-login h1{
    font-size: 37px;
   }

   .login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
   }

   .link-login{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
   }

   .link-login a{
    color: #000000;
   }

   .inputs-form-login{
    width: 100%;
    height: 70%;
   }

   .label{ 
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.input-login{
    height: 40px;
    border: 1px solid #d6dbd2;
    outline: 0;
    width: 100%;
}
.link-login-senha{
    height: 80px;
    margin-top: 20px;
}

.link-login-senha a{
    color: #000000;
}

.button-login button{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: 0 none;
    border-radius: 3PX;
    outline: 0;
    text-align: center;
    font-size: 30px;
    background-color: #46CAF2;
}