header{
    margin-bottom: 100px;
    width: 100%;
    height: 100px;
}
.painel-principal{
    background-color: #000
}
.top-header{
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 20px;
}

input {
    width: 80%;
    height: 80%;
    color: #FFF;
    background-color: #000;
    border: 0 none;
    outline: 0;
}

.user-header{
    display: flex;
    align-items: center;
    height: 60px;
    width: 180px;

}

.user-header a {
    text-decoration: none;
    color: #fff;
}

.icon-header {
   margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.link-header {
    width: 50%;
    height: 60px;
    font-size: 14px;
   padding-top: 10px;
   margin-left: 10px;

}
.menu   {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.menu  a {
    text-decoration: none;
    color: #fff;
}


.painel-menu{
    justify-content: space-between;
    display: flex;
    width: 70%;
    height: 30px;
}

.menu-itens{
    background-color: #141313;
    box-shadow: rgba(1, 1, 1, 0.194) 0px 30px 60px -12px inset, rgba(11, 10, 10, 0.264) 0px 18px 36px -18px inset;
    width: 20%;
    text-align: center;
    padding: 0.5%;
}


.search {
    width: 50%;
    height: 30px;
    padding: 12px 24px;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url('https://api.iconify.design/ic/baseline-search.svg?color=white&width=180&height=60');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
 .search::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    .search:hover,
    .search:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }

    /*Trabalhando com o icone do carrinho */
    .bag-header a {
        color: #ffffff;
        transition: all 0.2s;
    }
    .bag-header a:hover{
        color: #46CAF2;
    }

    .menu-itens a {
        color: #ffffff;
        transition: all 0.2s;
    }
    .menu-itens a:hover{
        color: #46CAF2;
    }
    
    /* Começa o main*/
    main{
        width: 100%;
        height: 200px;
        background-color: gray;
    }

/*Footer começa aqui.*/

footer {
    background-color: black;
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
ul {
    padding-inline-start: 0;
    
}

.painel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 16px 24px;
}

.cardx {
 
    color: white;
    width: 200px;
    padding: 5px;
    justify-content: center;
    align-items: center;
   
}

/* .cardx h3, .cardx h5 {

  


} */

.logo2 {
    margin-top: 1px;
}


.textosomos {
    width: 80px;
    font-size: 2px;
    text-align: justify;
    margin-top: 1px;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.redes i {
    width: 20px;
    height: 20px;
    color: #ffffff;
    transition: all 0.2s;
}

.redes i:hover{
   color: #46CAF2;

}

.lista {
    flex-direction: row;

}

.lista li{
    margin-bottom: 10px;
}

.lista a{
    color: #ffffff;
    margin-bottom: 8px;
    text-decoration: none;
    
}

.lista li :hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
    color: #46CAF2;
  }


.card2 {
    color: #ffffff;
    width: 320px;
    height: 200px;
    padding: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
.listaContato li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    line-height: 25px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
h3 {
    color: #46CAF2;
}

button {
    border-radius: 10px;
    color: #46CAF2
}


ul {
    text-align: left;
    justify-content: flex-start;
    line-height: 20px;
}


.trio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 500px;
    margin: 0 auto;

}

.cartao {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 320px;
    border: solid 1px rgba(180, 8 , 94,0.3);
    font-size: 30px;
}



.cardsmarcas {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

hr{
    border: solid 1px  rgba(180, 8 , 94,0.3);
    width: 30%;
}

.painel p strong{
    color: #46CAF2;
}




