@media(max-width: 1024px){
    .mainProdutos .mainProdutosCards{
        width: 90%;
        gap: .3rem;
    }
}

@media(max-width: 1000px){
    /* .card-trending {
        width: 200px;
        height: 350px;
      } */
      
      .card-trending img {

      }
      
      .card-trending h3 {
        font-size: 1rem;
      }
      
      .card-trending p {

      }
      .destaque-card-wrap {
        display: flex;
        flex-wrap: wrap;
      }
      /* .destaque-card {
        width: 46%;
        margin-top: 10px;
      } */
      /* .destaque-card:nth-child(odd) {
        margin-left: 30px;
      } */

}


@media only screen and (max-width: 700px) {
  .destaque-card-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .destaque-card {
    width: 44%;

  }

  .mainProdutosCards{
    width: 14%;
    display: flex;
    flex-wrap: wrap;
  }
  .index-carrossel, .index-carrossel img{
    height: 700px;
  }

  .card-trending, .card-trending img{
height: 650px;
width: 100%;
  }

  .btn-box {
    display: flex;
    margin-right: 30px;
  }

  section.banner{
    display: flex;
    flex-direction: column;
    height: 36vh;
  }
.banner img{
display: none;
}


.modaltest{
  flex-direction: column;
}

.modal-content{
  top:50%;
  height: 75vh;
}
#modal-image {
  padding: 10px;
  width: 300px;
margin: 0 auto;

}
#modal-description, #modal-more{
  margin-top: 5px;
  font-size: 14px;
}
}

@media only screen and (min-width: 1000px) {
  .destaque-card {
    width: calc(25% - 20px);
  }

}


