
section{
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    float: left;
    margin: 5px;
    min-width:  250px;
}
.divsobre p, .divcampanha p{
   font-size: 16px;
}
.card-text{
    font-size: 16px;
}


.imgcampanha img{
    width: 350px;
}


.bestplace{
    background-color: black;
    height: 600px;
    color: #898989;
}

@media only screen and (max-width: 770px){
    .imgcampanha img{
        width: 250px;
    }
    .bestplace{
        height: 114vh;
        margin-bottom: 110px;
    }
}



/* 
.produtos-container{
    display: flex;
    flex-wrap: wrap;

}



.imgsobre{
height: 600px;
 width: 450px;
}

.bestplace h2{
    color: white;
    margin: 20px 0px;
}
.imgsobre img{
    margin: -20px 0px 0px 120px;
    border-radius: 10px;
    width: 390px;
} */

/* @media only screen and (max-width: 1000px) {
.bestplace{
    height: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.imgsobre img{
    margin: 0 auto;
    width: 400px;
}

.imgso img{
    margin-left: -30px;
}
.divsobre p:last-child {
    display: none;
  }

  .card{
    width: 280px;
    float: left;
}

div p{
    width: 100%;
}


 } */