
@keyframes pulsando {
    0%{

    }

    100%{
        width: 60px;
    }
    
}

.whatsapp_logo{
    width: 55px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    animation-name: pulsando;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.texto_garamond{
    font-family: 'EB Garamond', serif;
}

.texto_roboto{
    font-family: 'Roboto', sans-serif;
}

.cor_laranja_texto{
    color: #ffa67d;
}

.cor_laranja{
    background-color: #ffa67d;
}

.cor_cinza{
    background-color: #F2F2F2;
}

.texto_cinza{
    color: #737373;
}

.texto_branco{
    color: #fff;
}

.tamanho_maximo_conteudo{
    margin: 0 auto;
    max-width: 1350px;
}

.display_flex{
    display: flex;
    align-items: center;

}

.display_flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display_flex_centralized{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width: 510px) {
    #minha_conta{
        display: none;
    }

    #dentro_top_header{
        margin-left: 0;
        padding-left: 0;
        justify-content: space-around;
    }

    .menu_sanduiche{
        display: inline;
        position: relative;
        right: 40px;
    }

    .lista_navegacao{
        display: none;
    }

    #bot_header{
        flex-direction: column;
        align-items: center;
    }

    #zona_busca{
        width: 90%;
    }

}

.banner_principal{
    width: 100%;
}

.categorias{
    margin-bottom: 45px;
}

.cartoes_categoria{
    /* justify-content:space-around; */
    justify-content: center;
    border-bottom: solid 1px;
    flex-wrap: wrap;
}

.carton{
    flex-direction: column;
    margin-bottom: 30px;
    width: 200px;
    margin-right: 30px;
    text-decoration: none;
}


.carton:last-child {
    margin-right: 0; 
}

.carton img{
    width: 200px;
    border: solid 1.9px #b4b4b4a2 ;
}
.carton img:hover{
    border: solid 0.5px #b4b4b4 ;
    transition: 400ms;
  
    }
.carton h3{
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

.zona_titulo{
    text-align: center;
    margin-top: 40px;
}

.h1_titulo{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}

.h2_titulo{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 0.2em;
}

.linha_texto{
    width: 100px;
    height: 1px;
    background: #545454;
    display: block;
    margin: 28px auto 32px;
}

.titulo_mais_vendidos{
    gap: 10px;
    justify-content: center;
    color: #212529;
    font-size: 40px;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 35px;
}

.linha{
 margin-top: 100px;
 border: 1px transparent;
 margin-bottom: 50px;
}