* {
    box-sizing: border-box;

}

p, input, textarea, h1, h2, h3, h4, h5, h6, span, label {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body, html{
padding: 0;
margin: 0;
width: 100vw;
overflow-x: hidden;
}

.fontLogin {
    font-size: 40px;
}

.main {
width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1rem;
}

.login {
    display: flex;
    justify-content: space-between;
    
}

.margem {
    margin: 5%;
}

.branco {
    width: 100%;
    background-color: white;
    padding: 2%;

}

.myLabel {
    display: inline-grid;
    width: 100%;

}

.distance {
    margin-top: 3%;
}

.distance2 {
    margin-top: 5%;
}

input {
    width:initial;
    height: 40px;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.amarelo {
    background-color: yellowgreen;
    margin-top: 3%;
}

