<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="stylesheets/reset.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="stylesheets/cadastro.css">
    <link rel="shortcut icon" type="image/png" href="https://img.freepik.com/icones-gratis/maca_318-631468.jpg">

</head>

<body cz-shortcut-listen="true">

    <!-- inicio header -->
    <%- include('partials/header') %>

    <main>
        <div class="containne-cadastre">

          <div class="header-cadastro">
            <div class="logo-cadastro">
              <img src="../public/images/LOGO.jpg" alt="" width="120px">
            </div>
            <div class="right-header-cadastro">
              <p>100% seguro</p>
              <a href=""><iconify-icon icon="material-symbols:lock" width="30px" style="color:#fff ;"></iconify-icon></a>
            </div>
          </div>
          
          <div class="text-registration">
            <div class="titulo">
              <h1>Criar uma conta</h1>
            </div>
            <div class="link-fazerLogin">
              <a href="">Fazer login</a>
            </div>
          </div>

          <div class="inputs-form-cadastro">
           
          <form action="" id="form">
            <label class="label" for="email">E-mail*</label>
            <input class="input-cadastro" id="email" type="email">
            <div class="paragrafo-error"></div>

            <label class="label" for="pass">Senha</label>
            <input class="input-cadastro" id="pass" type="password">
            <div class="paragrafo-error"></div>

            <label class="label" for="confirmPass">Confirmar senha</label>
            <input class="input-cadastro" id="confirmPass" type="password">
            <div class="paragrafo-error"></div>

            <label class="label" for="cpf">CPF*</label>
            <input class="input-cadastro" id="cpf" type="number">
            <div class="paragrafo-error"></div>

            <label class="label" for="name">Nome*</label>
            <input class="input-cadastro" id="name" type="text">
            <div class="paragrafo-error"></div>

            <label class="label" for="lastName">Sobrenome*</label>
            <input class="input-cadastro" id="lastName" type="text" placeholder="Digite">
            <div class="paragrafo-error"></div>

            <label class="label" for="bornDate">Data de Nascimento</label>
            <input class="input-cadastro" id="bornDate" type="date">
            <div class="paragrafo-error"></div>

            <label class="label" for="cel">Celular</label>
            <input class="input-cadastro" id="cel" type="tel">
            <div class="paragrafo-error"></div>

            <div class="termo">
              <input type="checkbox">
                <div class="text-termo"> 
                  Li e concordo com os termos de privacidade
                </div>
            </div>

            <div class="button-cadastro">
            <button>Continuar</button>
            </div>
            </form>
          </div> 
       
        </div>
    
       
    </main>

    <div id="footer"></div>
    <script>
      fetch('partials/footer.html')
        .then(response => response.text())
        .then(html => document.getElementById('footer').innerHTML = html);
    </script>


    <script>

    </script>

    <script src="./java.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>