<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
  
    <title>Document</title>
</head>
<body>
                        <!-- inicio header -->
                        <div id="header"></div>
                        <script>
                          fetch('../partials/header02.html')
                            .then(response => response.text())
                            .then(html => document.getElementById('header').innerHTML = html);
                        </script> 
                        <script>
                            //////// header
                         
                          document.addEventListener('click',function(e){
                           // Hamburger menu
                           if(e.target.classList.contains('hamburger-toggle')){
                             e.target.children[0].classList.toggle('active');
                           }
                         })   
                         </script>
                            <!-- Bootstrap 5 JS -->
                          <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
                                            <!-- fim header -->
  
    <main>
   <div class="containner-login">

    <div class="header-login"> 
       <div class="left-header-logion">  
          <img src="/images/LOGO.jpg" height="60px" alt="">
        </div>
        <div class="right-header-login">
          <p>100% seguro</p>
          <a href=""><iconify-icon icon="material-symbols:lock" width="20px" style="color:#fff ;"></iconify-icon></a>
        </div>
    </div>

        <div class="text-login">
            <div class="login">
              <h1>Faça login</h1>
            </div>
           <div class="link-login"> 
            <a href="">Não sou cadastrado</a>
           </div>
        </div>

        <div class="inputs-form-login">
          <form action="/users/login" method="POST" class="form-input-create-produto">
            <span>e-mail</span>
            <input type="email" name="email">
            <span>senha</span>
            <input type="password" name="pwd">
            <button type="submit">Enviar</button>
        </form>
        </div>

   </div>

</main>




   <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
</body>
</html>