<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .products-wrapper{
      margin: 130px 0px 130px 0px;
    }
  </style>
</head>
<body>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->


    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Formulário de Inclusão de Produto</h2>
            </div>
        </div>
        <div class="col-12">
            <form action="/product" method="POST" enctype="multipart/form-data">
                <div class="row product-detail">
                    <div class="col-12 col-md-6">
                        <label for="name" class="form-label">Nome:</label>
                        <input type="text" id="name" name="name" placeholder="Informe o nome do produto" class="form-input">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="price" class="form-label">Preço:</label>
                        <input type="number" id="price" name="price" placeholder="Informe o preço do produto" class="form-input">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="discount" class="form-label">Desconto:</label>
                        <input type="number" id="discount" name="discount" placeholder="Informe o desconto do produto" class="form-input">
                    </div>
                    <div class="col-12">
                        <label for="type" class="form-label">Tipo:</label>
                        <input type="text" name="type" id="type" class="form-label" placeholder="iphone/mac/ipad/watch"></input>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="image" class="form-label">Imagem:</label>
                        <input type="file" id="image" name="image" class="form-input">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="buy-now-button">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
      <!-- /todos los productos -->


      <!-- footer -->
      <%- include('partials/footer') %>
      <!-- /footer -->
  </body>
</body>
</html>