main{
    display: flex;
    border: 1px solid red;
    gap: 2%;
}
aside{
    border: 1px solid blue;
    width: 300px;
}
aside .title-aside{
    margin: 20px 10px 50px 10px;
    font-size: 18px;
    font-weight: bolder;
}
aside .item-aside{
    margin: 15px 10px;
    font-weight: 600;
}

section{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
}
.products-card img{
    width: 340px;
    height: 400px;
}