<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/responsividade.css">
  <title>Document</title>

</head>

<body>
  <footer>
    <div class="painel">

        <div class="cardx">
          <img class="logo2" src="/images/logoIsPace.jpeg" alt="logo" width="140px">
          <div class="iconredes">
            <p class=" textsomos"> Somos a <strong> I-SPACE </strong>  e trazemos para vocês os principais lançamentos com ampla
              disponibilidade
              e garantia de autenticidade.</p>
          </div>
          <div class="redes">
            <a href=""><iconify-icon icon="ant-design:facebook-filled"  width="20"></iconify-icon></a>
            
            <a href=""><iconify-icon icon="ant-design:instagram-outlined"  width="20"></iconify-icon></a>
            
          </div>
        </div>
    
        <div class="cardx">
          <h3>INSTITUCIONAL</h3>
          <ul class="lista" style="list-style: none;">
            <li> <a href="../views/sobre.html">Quem Somos</a></li>
            <li> <a href="">Nossas Lojas</a></li>
            <li> <a href="">Quem Somos</a></li>
            <li> <a href="../views/privacidade.html">Política de Privacidade</a></li>
            <li><a href="">Política de reembolso</a></li>
            <li><a href="">Termos de serviço</a></li>
            <li><a href=""> Política de Envio</a></li>
          </ul>
        </div>
    
     <div class="card2">
          <h3>CONTATO</h3>
          <ul class="listaContato" style="list-style: none;">
            <li> <div class="wpp">Whatsapp
              </div><div class="number">+55 11 95454 5560</div></li>
            <li><div class="email">E-mail:</div>
              <div class="enderecoemail">copclub.br@gmail.com</div></li>
            <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
              </li>
              <li><div class="dias">Segunda - Sexta</div><div class="horarios">08:00 - 20:00</div>
              </li>
          </ul>
        </div>
    
        <div class="cardx">
          <h3> FIQUE POR DENTRO </h3>
          
          <h5>Receba as novas promoções e produtos.</h5>
          
          <button class="button-footer"> Se inscreva </button>
        </div>
      </div>
      
</footer>



<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</body>

</html>