<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'>
    <!-- Google Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&amp;display=swap'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/responsividade.css">
    <!-- <link rel="stylesheet" href="/stylesheets/header.css">  -->
    <link rel="shortcut icon" href="/images/smartphone.png" type="image/x-icon">
 
</head>
<body>
    <!-- HEADER IMPROVISADO -->
    <header class="intro ">
      <div class="hed_form">
        <div class="header">
          <a href="/">
            <img src="/images/I-SPACE logo oficial.jpg" alt="">
          </a>
          
        </div>
        <form class="d-flex ms-auto">
          <div class="input-group putput">
              <input class="form-control border-0 mr-2" type="search" placeholder="Pesquise" aria-label="Search">
              <button class="btn btn-primary buscarbtn border-0" type="submit">
                <p>Buscar</p>
                </button>
          </div>
  
      </form>
      <li class="nav-item">
        <a class="nav-link" href="../views/cadastro.html">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/login.html">Login</a>
      </li>
      </div>
     
      <nav class="navbar navbar-expand-lg navbar-light bg-black navbar-dark shadow">
                <div class="container-fluid">
            <!-- <a class="navbar-brand" href="../index.html">Apple Space </a> -->
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
              <div class="hamburger-toggle">
                <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </button>
            <div class="collapse navbar-collapse " id="navbar-content">
              <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
  

                <li class="nav-item">
                  <a class="nav-link" href="../produtos/iphone.html">Iphone</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../produtos/mac.html">Mac</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../produtos/ipad.html">Ipad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="../produtos/Watch.html">Watch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="../produtos/airpods.html">Airpods</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../produtos/acessorios.html">Acessorios</a>
                </li>
                <li class="nav-item dropdown dropdown-mega position-static">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Serviços</a>
                  <div class="dropdown-menu shadow">
                    <div class="mega-content px-4">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-12 col-sm-4 col-md-3 py-4">
                            <h5>O melhor conceito para voce</h5>
                            <div class="list-group">
                              <a class="list-group-item" href="sobre">Sobre</a>
                              <a class="list-group-item" href="#">Revenda</a>
                              <a class="list-group-item" href="#">Seguro</a>
                              <a class="list-group-item" href="#">Devolução</a>
                              <a class="list-group-item" href="#">Suporte</a>
                            </div>
                          </div>
                          <div class="col-12 col-sm-4 col-md-3 py-4">
                            <h5>Design</h5>
                            <div class="card">
                        <img src="/images/iphoneRed.jpg" style="width: 63%;"
                         class="img-fluid" alt="image">
                        <div class="card-body">
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                      </div>
                          </div>
                          <div class="col-12 col-sm-4 col-md-3 py-4">
                            <h5>Lider de mercado</h5>
                              <p><b>Apple Space</b> é um dos maiores parceiros da Apple e 
                                contamos com o melhor atendimento e custo beneficio do pais.
                                Os produtos com a melhor qualidade passam primeiro por aqui, então
                                aproveite com tranquilidade e segurança.
                             </p>
                          </div>
                          <div class="col-12 col-sm-12 col-md-3 py-4">
                            <h5>Informaçoes e garantias</h5>
                            <div class="list-group">
                             
                              <a class="list-group-item" href="#">Termos & Condicoes</a>
                              <a class="list-group-item" href="../views/privacidade.html">Privacidade</a>
                              <a class="list-group-item" href="#">Garantia</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- <form class="d-flex ms-auto">
                  <div class="input-group">
                      <input class="form-control border-0 mr-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-primary border-0" type="submit">Buscar</button>
                  </div>
   
              </form> -->

            </div>
          </div>
          
        </nav>
     
  
   </header>
<script>
   //////// header

 document.addEventListener('click',function(e){
  // Hamburger menu
  if(e.target.classList.contains('hamburger-toggle')){
    e.target.children[0].classList.toggle('active');
  }
})   
</script>
   <!-- Bootstrap 5 JS -->
 <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'></script>
</body>
</html>