<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/header.css">

    <!-- <link rel="stylesheet" href="./header.css"> -->
    <title>Document</title>
    <link rel="shortcut icon" href="../images/smartphone.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Clicker+Script&family=Kanit:wght@100&family=Poppins:wght@200;300;500;600;700&display=swap');

/* <--------- header ----------->*/



.icon-right-site ion-icon:hover { color: #F1F1FB;}
    </style>
</head>
<body>
    <!-- HEADER IMPROVISADO -->
    <header class="header">
        <div class="h-titulo"><p></p></div>

        <div class="h-medio">
            <div class="h-navybar">
                <ul class="nav-list">
                    <li class="nav-item"><a href="../index.html">Home</a></li>
                    <li class="nav-item"><a href="../produtos/Watch.html">Watch</a></li>
                    <li class="nav-item"><a href="../produtos/iphone.html">Iphone</a></li>
                    <li class="nav-item"><a href="../produtos/ipad.html">Ipad</a></li>
                    <li class="nav-item"><a href="../produtos/mac.html">Mac</a></li>
                    <li class="nav-item"><a href="../produtos/airpods.html">Airpods</a></li>
                    <li class="nav-item"><a href="../produtos/acessorios.html">Acessorios</a></li>
                    <li class="nav-item"><a href="/produtos/ofertas.html">Ofertas</a></li>
                </ul>
            </div>
            <div class="right-side">
                <div class="search">
                    <input type="text" placeholder="Procurar">
                </div>
                <div class="icons-header">
                    <div class="icon-right-site"> 
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="star-outline"></ion-icon>
                        </a>
                       
                    </div>
                
                    <div class="icon-right-site">
                        <a href="../views/desenvolvimento.html">
                            <ion-icon name="cart-outline"></ion-icon>
                        </a>
                        
                    </div>
                </div>

            </div>

            
            </div>


        <div class="h-cadastro"><a href="../views/contact.html">
            Entre para o clube

        </a>
        </div>


    </header>
</body>
</html>