* {
  font-family: "Source Sans Pro", "Roboto", Arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
  position: static;
}
.nav-item.dropdown.dropdown-mega .dropdown-menu {
  width: 90%;
  top: auto;
  left: 5%;
}

.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  float: right;
}
.navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}
.navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #333;
  border-radius: 2px;
  z-index: 1;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  left: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  transform-origin: 50% 50%;
  transform: translate(0% -50%) !important;
}
.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  transform: translate(0, -50%);
}
.navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  transform-origin: 50% 50%;
}
.navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  transform: rotate(45deg);
}
.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}
.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  transform: rotate(-45deg);
}

.icons {
  display: inline-flex;
  margin-left: auto;
}
.icons a {
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}
.icons a:hover {
  color: white;
  text-shadow: 0 0 30px white;
}


/* /////////////////////////////// */

/* 
body.offcanvas-active{
overflow:hidden;
}

.offcanvas-header{ display:none; }

.screen-darken{
height: 100%; width:0%;
z-index: 30;
position: fixed; top: 0; right: 0; 
opacity:0; visibility:hidden;
background-color: rgba(34, 34, 34, 0.6);
transition:opacity .2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active{
z-index:10; 
transition:opacity .3s ease, width 0s;
opacity:1;
width:100%;
visibility:visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {

.offcanvas-header{ display:block; }

.mobile-offcanvas{
  visibility: hidden;
  transform:translateX(-100%);
  border-radius:0; 
  display:block;
  position: fixed;  top: 0; left:0;
  height: 100%; width:80%;
  z-index: 1200; 
  overflow-y: scroll;
  overflow-x: hidden;
  transition: visibility .3s ease-in-out, transform .3s ease-in-out;
}

.mobile-offcanvas.show{
  visibility: visible; 	transform: translateX(0);
}
.mobile-offcanvas .container, .mobile-offcanvas .container-fluid{
  display: block;
}

}	


.header{
  height: 150px;
  background-color: black;
border: 1px solid transparent;
display: flex;
justify-content: center;
}
.header img {
  width: 210px;
  max-width: 100%;
  min-width: 10%;
  margin: auto;
  }




.navbar-collapse{

}
.navbar-nav{
  gap: 20%;

}
.navbar-brand{
  margin-left: 1%;
  
}
.input-group{
 width: 400px;
 margin-right: 10%;
 margin-bottom: 7px;

}
header{
  background-color: black;

}

.nav-link, .nav-item{
  color: white;
  list-style-type: none;
  }
.nav-item:hover, .nav-link:hover{
  color: lightskyblue;
}
  
.nav-link {
  color: white;
}