<html>
  <!-- <head> -->
    <%- include('../partials/headUser') %>
  <!-- </head> -->
  <body class="body-form">
    <%- include('../partials/header') %>
    <form
      method="POST"
      action="/users/create"
      class="form-cad"
    >
      <div class="column">
        <!-- <a class="go-back" href="/users/"><i class="fas fa-chevron-left"></i> Voltar</a> -->
      
        <div style="height: 18px"></div>
        <div class="label">Nome</div>
        <input type="text" name="name">
        <div style="height: 18px"></div>
        <div class="label">Email</div>
        <input type="text" name="email">
        <div style="height: 24px"></div>
        <div class="label">Senha</div>
        <input type="text" name="pwd">
        <button class="button bg-success">
          <i class="fas fa-save"></i>
        </button>
      </div>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>